<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #3D9970;">
    <a class="navbar-brand" routerLink="/inicio"><i class="fa fa-home" aria-hidden="true"></i> La Liga Protectora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/perros" routerLinkActive="active">Perros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/administrar" routerLinkActive="active">Administrar</a>
        </li>
      </ul>
      <ul *ngIf="!auth.estado" class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar sesion <i class="fa fa-sign-in"></i></a>
        </li>
      </ul>
      <ul *ngIf="auth.estado" class="navbar-nav navbar-right">
        <li class="nav-item">
            <a (click)="auth.logOut()" class="nav-link" routerLink="/inicio">Salir <i class="fa fa-sign-out"></i></a>
        </li>
      </ul>
    </div>
  </nav>