<form [formGroup]="formularioLogin" (ngSubmit)="login(formularioLogin.value)">
  <div class="form-group" >
    <label for="email">Correo Electronico</label>
    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Correo Electronico">
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Contraseña">
  </div>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
  </div>
  <button type="submit" class="btn btn-outline-success">Ingresar</button>
</form>