<div class="row justify-content-center">
  <div class="col-10">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{auth.animalProfile.nombre}}</h1>
        <p class="lead text-muted"><strong>{{auth.animalProfile.edad}} (Años), {{auth.animalProfile.sexo}}:</strong> {{auth.animalProfile.origen}}  .</p>
        <p class="lead text-muted">{{auth.animalProfile.nota}}</p>
      </div>
      <!-- Show a loading icon while get the content -->
        <i *ngIf="auth.cargando" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </section>
  </div>  
  <div class="col-md-6 col-sm-8 col-10">
      <img class="img-fluid" src="{{auth.animalFoto}}">         
      <br><br> 
  </div>
</div>
