<div *ngIf="auth.estado">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h4 class="card-title">Bienvenido "{{auth.email}}"</h4>
            <h6 class="card-subtitle mb-2 text-muted">Aqui podras Agregar, Elminar y Actualizar la base de datos.</h6>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-subtitle mb-2">Agregar Nuevo</h5>
                    <form [formGroup]="formularioAdd" (ngSubmit)="add(formularioAdd.value)">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="">Nombre</label>
                                <input formControlName="nombre" required type="text" class="form-control" id="" placeholder="Nombre">
                            </div>
                            <div class="form-group col-3">
                                <label for="">Edad</label>
                                <input formControlName="edad" type="number" class="form-control" id="" placeholder="Edad">
                            </div>
                            <div class="form-group col-3">
                                <label for="sexo">Sexo</label>
                                <select formControlName="sexo" class="form-control" id="sexo">
                                    <option>Hembra</option>
                                    <option>Macho</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Origen</label>
                            <input formControlName="origen" type="text" class="form-control" id="" placeholder="Como llego a la protectora">
                        </div>
                        <div class="form-group">
                            <label for="">Nota</label>
                            <textarea formControlName="nota" class="form-control" id="" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Foto</label>
                            <input formControlName="foto" type="file" class="form-control-file" id="">
                        </div>
                        <button [disabled]="!formularioAdd.valid" type="submit" class="btn btn-outline-success">Agregar</button>
                    </form>
                </div>
            </div>
            <br>
        </div>
        
        <div *ngFor="let x of auth.animales; let i=index">
            <div class="col-md-3">
                <!-- <p>Id: {{auth.animalesId[i]}}</p> -->
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top img-fluid" src="./assets/animales.png" alt="Card image cap">
                    <div class="card-body">
                    <p>Nombre: <strong>{{x.nombre}}</strong>, {{x.edad}} años.</p>
                    <p>Origen:<i class="text-muted">"{{x.origen}}"</i></p>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!auth.estado" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Solo Personal Autorizado!</h4>
    <p>El area de administracion se utiliza para hacer cambios en la lista de animales dentro de la protectora. Solo puede acceder el personal autorizado.</p>
    <hr>
    <p class="mb-0">En caso de estar autorizado inicia sesion y regresa a esta ventana.</p>
</div>
