<!-- Vista para usuarios logeados -->
<div *ngIf="auth.estado" class="row justify-content-center">
    <div class="col-12">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Bienvenido</h1>
                <p class="lead text-muted">Hola {{auth.email}}, aqui podras Agregar, Elminar y Actualizar la base de datos..</p>
            </div>
        </section>
    </div>
    <!-- Formulario para Agregar nuevos -->
    <div class="col-10">
        <h5>Agregar Nuevo</h5>
        <form [formGroup]="formularioAdd" (ngSubmit)="add(formularioAdd.value)">
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Nombre</label>
                    <input formControlName="nombre" required type="text" class="form-control" id="" placeholder="Nombre">
                </div>
                <div class="form-group col-3">
                    <label>Edad</label>
                    <input formControlName="edad" type="number" class="form-control" id="" placeholder="Edad">
                </div>
                <div class="form-group col-3">
                    <label for="sexo">Sexo</label>
                    <select formControlName="sexo" class="form-control" id="sexo">
                        <option>Hembra</option>
                        <option>Macho</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Origen</label>
                <input formControlName="origen" type="text" class="form-control" placeholder="Como llego a la protectora">
            </div>
            <div class="form-group">
                <label>Nota</label>
                <textarea formControlName="nota" class="form-control" id="" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label>Foto</label>
                <input (change)="getAnimalFoto($event)" type="file" class="form-control-file">
            </div>
            <button [disabled]="!formularioAdd.valid" type="submit" class="btn btn-outline-success">Agregar</button>
        </form>
        <br><br>
    </div>
    <!-- Lista para Mostrar los Animales -->
    <div class="col-10">
        <h5>Lista de Animales</h5>
        <table class="table table-hover table-sm table-responsive justify-content-center">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Sexo</th>
                <th scope="col">Identificador</th>
                <th><i class="fa fa-pencil" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody *ngFor="let x of auth.animales; let i=index">
                <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{x.nombre}}</td>
                <td>{{x.edad}}</td>
                <td>{{x.sexo}}</td>
                <td>{{auth.animalesId[i]}}</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm" routerLink="/perros-profile/{{auth.animalesId[i]}}">Ver</button>                                                        
                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(auth.animalesId[i],x.nombre)" data-toggle="modal" data-target="#deleteModal">Eliminar</button>
                    <button type="button" class="btn btn-warning btn-sm" disabled>Actualizar</button>                    
                </td>
                </tr>
            </tbody>
        </table> 
        <br>
    </div>
</div>

<!-- Vista para usuarios NO Logeados -->
<div *ngIf="!auth.estado" class="card text-white bg-danger mb-3">
    <div class="card-header">Solo Personal Autorizado!</div>
    <div class="card-body">
        <h4 class="card-title">El area de administracion se utiliza para hacer cambios en la lista de animales dentro de la protectora. Solo puede acceder el personal autorizado.</h4>
        <p class="card-text">En caso de estar autorizado inicia sesion y regresa a esta ventana.</p>
    </div>
</div>

<!-- Modal para preguntar si esta seguro de eliminar al animal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Esta seguro de que quiere eliminar a {{animalSure}}?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            <button (click)="auth.deleteAnimal(animalId)" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
        </div>
        </div>
    </div>
</div>